In [1]:
# Importing Required Libraries
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Load the dataset. Here, I will use only two dataset which I think are helpul for our prediction.
matches = pd.read_csv(r"C:\Users\Harsha\Downloads\Sa project\matches.csv")
deliveries = pd.read_csv(r"C:\Users\Harsha\Downloads\Sa project\deliveries.csv")

In [3]:
matches.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [4]:
deliveries.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [5]:
# checking the shape of both the dataset
print('Matches data shape -->',matches.shape)
print('Deliveries data shape -->',deliveries.shape)

Matches data shape --> (756, 18)
Deliveries data shape --> (179078, 21)

In [6]:
# Now we need to do some feature engineering to change the data in such a way we want.
total_score_df = deliveries.groupby(['match_id','inning'])['total_runs'].sum().reset_index()
total_score_df.head()

   match_id  inning  total_runs
0         1       1         207
1         1       2         172
2         2       1         184
3         2       2         187
4         3       1         183

In [7]:
# We will fetch only first inning data because we need to predict a probability in a second inning.
total_score_df_first_inning = total_score_df[total_score_df['inning'] == 1]
total_score_df_first_inning.head()

   match_id  inning  total_runs
0         1       1         207
2         2       1         184
4         3       1         183
6         4       1         163
8         5       1         157

In [8]:
# As we successfully created our first feature, its time to merge the data to the matches dataframe.
matches_df = pd.merge(matches,total_score_df_first_inning[['match_id','total_runs']],left_on='id',right_on='match_id')
matches_df.head()

,id,Season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3,match_id,total_runs
0,1,IPL-2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN,1,207
1,2,IPL-2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN,2,184
2,3,IPL-2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN,3,183
3,4,IPL-2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN,4,163
4,5,IPL-2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN,5,157

In [9]:
# We will only consider those teams which have played almost all the seasons.
matches_df['team1'].unique()

array(['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions',
       'Rising Pune Supergiant', 'Royal Challengers Bangalore',
       'Kolkata Knight Riders', 'Delhi Daredevils', 'Kings XI Punjab',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals'], dtype=object)

In [10]:
# we can see from the above result that some of the teams have changes their name but basically they are same team so we need to change the name.
matches_df['team1'] = matches_df['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
matches_df['team2'] = matches_df['team2'].str.replace('Delhi Daredevils','Delhi Capitals')

matches_df['team1'] = matches_df['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
matches_df['team2'] = matches_df['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [11]:
ipl_teams = [
    'Rajasthan Royals',
    'Chennai Super Kings',
    'Kolkata Knight Riders',
    'Mumbai Indians',
    'Sunrisers Hyderabad',
    'Royal Challengers Bangalore',
    'Kings XI Punjab',
    'Delhi Capitals'
]

In [12]:
matches_df = matches_df[matches_df['team1'].isin(ipl_teams)]
matches_df = matches_df[matches_df['team2'].isin(ipl_teams)]
matches_df.shape

(641, 20)

In [13]:
# only those matches where dl_applied == 0
matches_df = matches_df.loc[matches_df['dl_applied'] == 0]

In [14]:
# Extracting only necessary columns
matches_df = matches_df[['match_id','city','winner','total_runs']]
matches_df.head()

   match_id       city                       winner  total_runs
0         1  Hyderabad          Sunrisers Hyderabad         207
4         5  Bangalore  Royal Challengers Bangalore         157
6         7     Mumbai               Mumbai Indians         178
7         8     Indore              Kings XI Punjab         148
9        10     Mumbai               Mumbai Indians         158

In [15]:
# Merge deliveries and matches df for further processing
df_merged = pd.merge(matches_df,deliveries,on='match_id')
df_merged.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder
0,1,Hyderabad,Sunrisers Hyderabad,207,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,Hyderabad,Sunrisers Hyderabad,207,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,Hyderabad,Sunrisers Hyderabad,207,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,Hyderabad,Sunrisers Hyderabad,207,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,Hyderabad,Sunrisers Hyderabad,207,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [16]:
# As we know we will predict a probablity when the second innings will start.
df_merged = df_merged.loc[df_merged['inning'] == 2]

In [20]:
# Convert total_runs_y to numeric, forcing non-numeric entries to NaN (if any)
df_merged['total_runs_y'] = pd.to_numeric(df_merged['total_runs_y'], errors='coerce')

# Now apply the cumulative sum group-wise
df_merged['current_score'] = df_merged.groupby('match_id')['total_runs_y'].cumsum()

In [21]:
df_merged['runs_left'] = df_merged['total_runs_x'] - df_merged['current_score']

In [19]:
# Creating 'ball_left' feature 
ball_per_over = 6
df_merged['balls_left'] = 126 - (df_merged['over'] * ball_per_over + df_merged['ball'])

In [23]:
# Replace NaNs with 0s
df_merged['player_dismissed'].fillna(0, inplace=True)

# Convert dismissals to binary (0 if no dismissal, 1 if a player is dismissed)
df_merged['player_dismissed'] = df_merged['player_dismissed'].apply(lambda x: 0 if x == 0 else 1)

# Ensure it's of integer type
df_merged['player_dismissed'] = df_merged['player_dismissed'].astype(int)

# Compute cumulative wickets fallen per match
df_merged['wickets_fallen'] = df_merged.groupby('match_id')['player_dismissed'].cumsum()

# Subtract from total wickets to get wickets left
df_merged['wickets_left'] = 10 - df_merged['wickets_fallen']

In [24]:
df_merged.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batsman,...,extra_runs,total_runs_y,player_dismissed,dismissal_kind,fielder,balls_left,current_score,runs_left,wickets_fallen,wickets_left
125,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,1,CH Gayle,...,0,1,0,NaN,NaN,119,1,206,0,10
126,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,2,Mandeep Singh,...,0,0,0,NaN,NaN,118,1,206,0,10
127,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,3,Mandeep Singh,...,0,0,0,NaN,NaN,117,1,206,0,10
128,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,4,Mandeep Singh,...,0,2,0,NaN,NaN,116,3,204,0,10
129,1,Hyderabad,Sunrisers Hyderabad,207,2,Royal Challengers Bangalore,Sunrisers Hyderabad,1,5,Mandeep Singh,...,0,4,0,NaN,NaN,115,7,200,0,10

In [25]:
# current run rate (crr = runs/overs)
total_balls = 120
df_merged['crr'] = (df_merged['current_score'] * ball_per_over) / (total_balls - df_merged['balls_left'])

In [26]:
# required run rate (rrr = (Runs required to win / Balls Remaining  ) x 6)
df_merged['rrr'] = (df_merged['runs_left']*6) / df_merged['balls_left']

In [27]:
# match result: 0-lose | 1-win
def result(row):
    return 1 if row['batting_team'] == row['winner'] else 0

df_merged['result'] = df_merged.apply(result,axis=1)

In [28]:
# final df for model building
df = df_merged[['batting_team','bowling_team','city','runs_left','balls_left','wickets_left','total_runs_x','crr','rrr','result']]

In [29]:
# just sample the data to remove any bias
df = df.sample(df.shape[0])

In [30]:
# drop null values from final df
df.dropna(inplace=True)

In [31]:
cities = df['city'].unique().tolist()
print(cities)

['Mumbai', 'Chennai', 'Chandigarh', 'Jaipur', 'Hyderabad', 'Raipur', 'Cuttack', 'Kolkata', 'Mohali', 'Pune', 'Bengaluru', 'Visakhapatnam', 'Bangalore', 'Delhi', 'Centurion', 'Johannesburg', 'Kimberley', 'Abu Dhabi', 'Durban', 'Ranchi', 'Indore', 'Cape Town', 'Dharamsala', 'Port Elizabeth', 'Ahmedabad', 'Sharjah', 'Nagpur', 'Bloemfontein', 'East London']

In [32]:
# drop those rows where balls_left == 0 or negative value
df = df.loc[df['balls_left'] != 0]
df.head()

,batting_team,bowling_team,city,runs_left,balls_left,wickets_left,total_runs_x,crr,rrr,result
99672,Mumbai Indians,Rajasthan Royals,Mumbai,155,103,9,189,12.000000,9.029126,1
55710,Delhi Daredevils,Chennai Super Kings,Chennai,62,26,6,176,7.276596,14.307692,0
68758,Kings XI Punjab,Deccan Chargers,Chandigarh,188,115,10,190,2.400000,9.808696,1
140823,Chennai Super Kings,Kolkata Knight Riders,Chennai,19,22,7,114,5.816327,5.181818,1
126474,Mumbai Indians,Sunrisers Hyderabad,Mumbai,113,99,9,130,4.857143,6.848485,0

In [33]:
# Separate Dependent and Independent Variables
X = df.drop('result',axis=1)
y = df['result']

In [34]:
# Train-Test Split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 50)

In [35]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['batting_team','bowling_team','city'])
]
,remainder='passthrough')

In [36]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

pipe.fit(X_train,y_train)

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [37]:
y_pred = pipe.predict(X_test)

In [38]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8009671315439064

In [39]:
pipe.predict_proba(X_test)[25]

array([0.06297563, 0.93702437])